<a href="https://colab.research.google.com/github/shikhaoct26-jpg/Session01/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Lecture 01**

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
2+3

5

In [ ]:
name = "Shikha"
print(f"Hello", name)

Hello Shikha

In [ ]:
print(10 + 5) #addition
print(136 * 480)
print(44867 / 56)
print(2848-791)

15
65280
801.1964285714286
2057

In [ ]:
name = "Hello Kitty"
Product = "Toy"
print(name, "is very famous", Product, "among kids")

Hello Kitty is very famous Toy among kids

In [ ]:
age = 20

if age >= 18:
    print ('you can vote')

else:
    print ('you can not vote')

you can vote

In [ ]:
age = 15

if age >= 18:
    print ('you can vote')

else:
    print ('you can not vote')

you can not vote

In [ ]:
for i in range(5):
    print ("Drink Water")

Drink Water
Drink Water
Drink Water
Drink Water
Drink Water

In [ ]:
    temperature = 25
    if temperature > 30:
        print("It's hot outside.")
    else:
        print("It's not too hot.")

It's not too hot.

In [ ]:
    age = 20
    if age >= 18:
        print("You are an adult.")

You are an adult.

In [ ]:
    score = 85
    if score >= 90:
        print("Grade A")
    elif score >= 80:
        print("Grade B")
    else:
        print("Grade C")

Grade B

In [ ]:
    fruits = ["apple", "banana", "cherry"]
    for fruit in fruits:
        print(fruit)

    for i in range(5): # Iterates from 0 to 4
        print(i)

apple
banana
cherry
0
1
2
3
4

In [ ]:
original = {1: 'greeks' , 2: 'for'}
new = original.copy()
new.clear()
print('new', new)
print('original', original)

new {}
original {1: 'greeks', 2: 'for'}

In [ ]:
seq = ('a' , 'b' , 'c')
print(dict.fromkeys(seq, None))

{'a': None, 'b': None, 'c': None}

In [ ]:
seq = ('a' , 'b' , 'c')
print(dict.fromkeys(seq, 1))

{'a': 1, 'b': 1, 'c': 1}

In [ ]:
d = {'coding' : 'good', 'thinking': 'bad'}
print(d.get('coding'))

good

In [ ]:
d = {1: '001', 2: '010', 3: '011'}
print(d.get(4, 'Not found'))

Not found

In [ ]:
name = input("Enter your name: ")
print(f"Welcome, {name}!")

Enter your name: Shikha
Welcome, Shikha!

In [ ]:
with open("tasks.txt", "r") as file:
    done_count = 0
    for line in file:
        if "done" in line.lower():
            done_count += 1
print(f"Tasks marked done: {done_count}")

FileNotFoundError: [Errno 2] No such file or directory: 'tasks.txt'

In [ ]:
# Create a dummy tasks.txt file for demonstration
with open("tasks.txt", "w") as file:
    file.write("Task 1: done\n")
    file.write("Task 2: pending\n")
    file.write("Task 3: DONE\n")
    file.write("Task 4: in progress\n")

In [ ]:
with open("tasks.txt", "r") as file:
    done_count = 0
    for line in file:
        if "done" in line.lower():
            done_count += 1
print(f"Tasks marked done: {done_count}")

In [ ]:
age = 16
if age >= 18:
    print("You can vote!")
else:
    print("Sorry, you are not eligible.")

Sorry, you are not eligible.

In [ ]:
temperature = 22
humidity = 55

if temperature > 25 and humidity > 60:
    print("Itâ€™s hot and humid today!")

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1  # increases i by 1 each time

1
2
3
4
5

In [ ]:
i = 6
while i <= 5:
    print(i)
    i += 1  # increases i by 1 each time

In [ ]:
count = 0
while count < 3:
    print("Count:", count)
    count += 1

Count: 0
Count: 1
Count: 2

In [ ]:
for num in range(1, 6):
    if num == 3:
        continue  # skips number 3
    if num == 5:
        break     # stops the loop
    print(num)

1
2
4

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum:", result)

Sum: 8

In [ ]:
num = 5
if num

In [ ]:
day = "Monday"
name = "Sumit"
wg = "0.1"

In [ ]:
print('hello', end='@')
print('world')

hello@world

In [ ]:
try:
    # Code that might raise an exception (e.g., dividing by zero, file not found)
    result = 10 / 0
    print(result)

except ZeroDivisionError as e:
    # Code to execute if a ZeroDivisionError occurs
    print(f"Error: Cannot divide by zero. Details: {e}")

except Exception as e:
    # A catch-all for any other unexpected errors
    print(f"An unexpected error occurred: {e}")

else:
    # Code to run ONLY if the 'try' block completed successfully (no exceptions)
    print("Success! No errors were raised.")

finally:
    # Code that runs no matter what (e.g., closing a file or network connection)
    print("Execution finished. Cleanup complete.")

Error: Cannot divide by zero. Details: division by zero
Execution finished. Cleanup complete.

In [ ]:
num1 = 3
num2 = 5
sum_of_numbers = num1 + num2
print ("sum_of_numbers =", sum_of_numbers)

sum_of_numbers = 8